body {
    background-image:radial-gradient(#cbe8f4, #6eb6e2);
    margin: 0 auto;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.text_on_image {
    width: 1200px;
    text-align: center;
    position: absolute;
    margin-left: 55px;
    margin-right: auto;
    margin-top: 70px;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'EB Garamond', serif;
    font-weight: 100;
    font-size: 55px;
    word-spacing: 6px;
    color: #0f0f3b;
    text-align: center;
    text-shadow: 3px 3px 6px #fae993;
    margin-top: 20px;
}

.topnav a {
    color: black;
    text-align: center;
    display: inline;
    font-family: 'EB Garamond', serif;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 22px;
    margin-left: 25px;
    text-decoration-line: none;
}

.topnav a:hover {
    color: #0f0f3b;
    font-weight: bold;
    text-shadow: 2px 2px 6px #fae993;
}

h3 {
    font: 'EB Garamond', serif;
    color: #0f0f3b;
    font-size: 26px;
    font-variant-caps: small-caps;
    letter-spacing: 1px;
    word-spacing: 2px;
    background-color: #fae993;
    margin-left: 130px;
    text-align: center;
    border: 5px double #0f0f3b;
    border-radius: 15px;
    padding: 10px;
    margin-top: -80px;
}

table {
    background-image: linear-gradient(#fae993, #cbe8f4);
    border-collapse: collapse;
    border: 5px double #0f0f3b;
    margin-left: 150px;
    margin-top: -20px;
    border-radius: 15px;
}
tr {
    height: 0px;
}

th, td {
    text-align: left;
    text-indent: 20px;
    padding: 8px;
    color: #0f0f3b;
    font-size: 24px;
    border: none;
}

figcaption {
    display: block;
    text-align: left;
    caption-side: bottom;
}

#img00 {
    margin-left: -150px;
    width: 1364px;
    height: 270px;
}

#img01 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    position: absolute;
    top: 850px;
    left: 200px;
}

#img01:hover {
  transform: scaleX(-1);
  transform: scaleX(-1);
}

#img02 {
    height: 350px;
    float: right;
    position: absolute;
    top: 1580px;
    left: 400px;
    border-radius: 10px;
}

#img02:hover {
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.life-cycle {
    text-align: center;
}

.two-img {
    width: 520px;
    padding: 10px;
    float: left;
}

#img03 {
    height: 330px;
    margin-top: 450px;
    border-radius: 50%;
}

#img04 {
    height: 300px;
    margin-left: 400px;
    border-radius: 50%;
}

.egg {
    text-align: right;
}

#img05 {
    border-radius: 50%;
    height: 300px;
    margin-left: 30px;
    margin-top: 0px;
}

#img06 {
    border-radius: 50%;
    height: 200px;
    margin-top: 40px;
}

#img07 {
    float: right;
    border-radius: 50%;
    height: 360px;
    margin-left: 60px;
    
}

#img08 {
    margin-left: -150px;
    margin-bottom: -20px;
    width: 1364px;
    height: 300px;
}

h2 {
    font-family: 'Oswald', 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    font-variant-caps: small-caps;
    letter-spacing: 1px;
    margin-top: 20px;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin-top: -20px;
}

.two_col {
    width: 520px;
    padding: 10px;
    float: left;
}

#taxonomy {
    margin-top: 70px;
}

#biology {
    width: 50%;
    margin-left: 550px;
    margin-top: 100px;
}

#ecology {
    float: left;
    margin-top: 50px;
}

#behavior {
    width: 50%;
    margin-left: 550px;
    margin-top: 100px;
}

#humaninteraction {
    width: 50%;
    float: left;
    margin-top: 50px;
}

.Top {
    text-decoration-line: none;
    color: black;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    word-spacing: 2px;
    letter-spacing: 1px;
    top: 4000px;
    left: 1070px;
}

.Top:hover {
    color: #0f0f3b;
    font-weight: bold;
    text-shadow: 2px 2px 6px #fae993;
}

footer {
    background-color: white;
    width: 1354px;
    padding: 5px;
    text-align: right;
    margin-left: -150px;
    border-bottom: 5px solid white;
}